.headlines-container {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px 30px;
  background-color: #d3d3d3;
}

.headline-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.filter-container {
  align-items: end;
}

.page-heading,
.filter-heading {
  font-size: 14px;
  color: #000;
}

.page-heading {
  font-weight: 800;
  text-decoration: underline;
}

.filter-heading {
  font-weight: 600;
  color: #36454f;
  margin-right: 10px;
}

.headline-image {
  height: 250px;
  width: 100%;
}

.author-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #000;
  padding: 10px;
  border-radius: 4px;
}

.headline-title {
  font-size: 17px;
}

.author-name,
.publishing-date {
  font-size: 14px;
  font-weight: 600;
}

.publishing-date {
  font-weight: 500;
}

.headline-description {
  font-size: 13px;
  font-weight: 500;
}

.news-link {
  color: #6495ed;
}

.news-link:hover {
  color: #7393b3;
}
